h1 {
    color: darkslateblue;
    text-align: center;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    float: right;
    width: 30%;
}
.column {
    width: 350px;
    float: left;
    font-size: 150%;
    
}
body {
    background-color: turquoise;
}
.test-box {
    background-color: lightcoral;
    padding: 0%;
    border: 20px darkblue;
    margin: 20px;
}